* {
    box-sizing: border-box;	
}

html {
    font-size: 16px;
    font-family:'Lucida Sans', sans-serif;
    color: white;
}

body {
    background-color: #131218;
    margin: 0;
}

.generator-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    padding: 10px;
}

.generator-container h1 {
    font-size: 1.2rem;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
}

.password-container {
    background-color: #24232b;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.password {
    background-color: #24232b;
}

.form-input-container {
    background-color: #24232b;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.checkboxes-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}

.checkbox-container {
    display: flex;
    flex-wrap: nowrap;
}

.checkbox {
    background: #24232b;
}

button {
    background-color: #a4ffaf;
}